*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: #ebddc1; */
    background: #EFE7D9;
    color:  #26712a;
}
#header{
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    margin-right: 3%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 22px;
}

nav ul li a{
    color: #26712a;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #194a1b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-size: 20px;
    margin-left: 5%;
}
.header-text h1{
    font-size: 35px;
    margin: 15px;
    font-style: italic;
}
.page-descr{
    padding: 15px 6%;
    color: black;
    font-size: 15;
    font-weight: 500;
}
.page-descr span{
    font-style: italic;
}
.page-descr a{
    color: black;
}
@media screen and (min-width: 1200px){
  .page-descr{
    max-width: 120ch;
  }
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    padding: 7px 5%;
    font-style: italic;
}
 /* ---- list style ---- */
.works-container{
    padding: 20px 5%;
}
.works-container h1{
    font-style: italic;
    font-size: 20px;
}
.works-container span{
    color: #26712a;
}
.title-article{
    list-style: none;
    padding: 7px;
}
.title-article  a{
    color: black;
}
.title-book{
    color: black;
    font-style: italic;
    list-style: none;
    padding: 7px;
}
.title-book span{
    color: #26712a;
    font-style: normal;
}
.working-paper{
    padding: 12px 5%;
}
.project-title-link{
    color: #26712a;
    list-style: none;
    padding: 7px;
    font-weight: 500;
    font-style: italic;
}
.project-title-link a{
    color: #26712a;
    font-style: italic;
    list-style: none;
    padding: 7px;
    font-weight: 500;
}
.project-title-link p{
    color: black;
    padding: 5px 2%;
    font-style: normal;
}
.project-title-link span{
    font-style: italic;
}

@media screen and (min-width: 1200px){
  .project-title-link p.project-abstract{
    display: block;
    max-width: 110ch;
    width: 100%;
    padding-left: 1.25rem; 
    padding-right: 0;        
    margin-right: auto;      
  }
}
.project-title-link p.project-abstract{
    font-size: 0.9rem;
    line-height: 1.35;
}

/* ----- css for small screens ------ */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #d3c7ae;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-links a{
        font-size: 30px;
    }
    .contact-links a .ai{
        font-size: 30px;
    }
}

/* ---- Working-paper list normalization + WIP one-liner styling ---- */

/* WIP line: black authors, green italic title */
.project-title-link.wip-line{
  font-style: normal;
  color: black;
}

.project-title-link.wip-line .wip-title{
  color: #26712a;
  font-style: italic;
  font-weight: 500;
}

.project-title-link.wip-line a.author-link{
  color: black;
  font-style: normal;
  text-decoration: none;
  padding: 0; /* cancels your .project-title-link a padding */
}

.project-title-link.wip-line a.author-link:hover{
  text-decoration: underline;
}

/* ----- css for large screens ------ */

@media screen and (min-width: 1200px) {
    .slideshow-container {
        max-width: 1200px;
        display: flex; 
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
    }
    
    .swiper-slide {
        max-width: 100%; 
        text-align: center; 
    }
    
    .slideshow-container img {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin: 0 auto; 
    }
}
